<div class="breadcrumbs-area">
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Assign Class Teacher</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Class Teacher List</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table id="example" class="table display data-table text-nowrap cell-border">
                <thead>
                    <tr>
                        
                        <th>Class</th>
                        <th>Section</th>
                        <th>Class Teacher</th>
                        <th>Action</th>  
                                                
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>A</td>
                        <td>Teacher 1</td>
                        <td>
                            <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                         </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>