
<div class="breadcrumbs-area">
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Teachers Timetable</li>
    </ul>
  </div>
  <div class="card height-auto">
    <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table display data-table text-nowrap cell-border">
              
                <thead>
                  
                  <tr>
                      <th>Monday</th>
                      <th>Tuesday</th>
                      <th>Wednesday</th>
                      <th>Thursday</th>  
                      <th>Friday</th>
                      <th>Saturday</th>
                      <th>Sunday</th>
                      
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                  </tr>
                 
              </tbody>
          </table>
      </div>
    </div>
   </div>
  
    <!-- Admission Enquiry Area Start Here -->
   
  